.myText {
  font-size: 120px;
  font-family: Courier New;
  font-weight: bold;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  line-height: 0.8;
  letter-spacing: -4px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
