@font-face {
    font-family: 'courianewbold';
    src: url('courbd-webfont.woff2') format('woff2'),
         url('courbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.myText {
  font-size: 120px;
  font-family: 'courianewbold';
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  line-height: 0.8;
  letter-spacing: -4px;
  -webkit-text-stroke: 4px black;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}
